// start .sLit
.sLit {
	--sPT: #{rem(15)};
	--sPB: #{rem(22)};
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	h2{
		font-size: 14px;
		font-weight: normal;
	}
	--sTPB: #{rem(16)};
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	ol + &__small-text{
		// margin-top: -.rem;
	}
	ol{
		padding-left: rem(14);
	}
	li{
		color: #999EAB;
		font-size: 14px;
		line-height: calc(18 / 14);
		margin-bottom: 0.4rem;
	}
	&__small-text{
		font-size: rem(14);
		padding-left: rem(14);
		position: relative;
		color: #999EAB;
		&::before{
			content: '*';
			position: absolute;
			left: 0;
			color: $primary;
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sLit