.pixel-perfect {
	top: 0;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	// opacity: 0.7;
	// min-height: 10000px;
} 

body,
html {
	font-size: var(--bs-body-font-size);
}
html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	&.fixed,
	&.fancybox-active{
		.header{ 
			padding-right: var(--spacing-end);
		}
		margin-right: var(--spacing-end);
	}
	@include media-breakpoint-up(md) {

		// min-width: 1200px; 
	}
	// -webkit-font-smoothing: antialiased;
	// position: relative;
	// overflow-x: hidden; 
	
	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		// background-color: $body-color;
		background-color: rgba($body-color, 0.8); 
    backdrop-filter: blur(5px);
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;

	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.main-wrapper { 
	position: relative;
	width: 100%;
	overflow: hidden;
	// display: flex;
	// flex-direction: row; 
// /	overflow: scroll;
	// width: 100%; 
	// height: 100vh;
	// height: calc(var(--vh, 1vh) * 100);
	
	
}
// .main-wrapper__inner{
// 	// overflow-x: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	min-width: 0;
// 	min-height: 100vh;
// 	flex-grow: 1;
// }






.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	margin-bottom: var(--sTPB);
}



.mono {
	font-family: $font-family-code;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}
.fw-400 {
	font-weight: 400;
}

.fw-900 {
	font-weight: 900;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}



.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2; 
	cursor: pointer; 
	&.l {
		left: 0; 
		svg {
			transform:  transform(rotateY(180deg));
		}
	} 
	&.r {
		right: 0; 
	} 
	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}

.tabs__btn-accordion{
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		// opacity: 0;
		// @include mt;
		&.active {
			display: block;
			// opacity: 1;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 2px solid var(--swiperBorderColorDef);
	color: var(--swiperColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1);
	@include mt;
	user-select: none;

	&:hover {
		background-color: var(--swiperBgDefHover);
		border-color: var(--swiperBorderColorDefHover);
		color: var(--swiperColorDefHover);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	} 
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #E6E6E6;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);
		display: inline-block;

		&-active,
		&:hover {
			background-color: var(--bs-primary) ;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

img{
	// content-visibility: auto;
}
picture {
	display: block;
	img {
		@extend .res-i;
	}

}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}

// *::selection {
// 	color: #fff;
// 	/* Цвет текста */
// 	background: var(--bs-primary) ;
// 	/* Цвет фона */
// }




.custom-scroll {
	/* ===== Scrollbar CSS ===== */
  /* Firefox */
	--bs-primary: #DEDEDE;
 
  & {
    scrollbar-width: auto;
    scrollbar-color: var(--bs-primary) transparent;
  }

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--bs-primary);
    border-radius: 16px;
    border: 0px solid transparent;
  }

}

::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 24 24'><path fill='#{$primary}' d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z'/></svg>"); 
}

.swiper-wrapper{
	
	// @include row-sw(10px, sm, 100px);
}


.container{
	max-width: 1120px;
	width: var(--cw);
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--cx, var(--mdx));
	padding-right: var(--cx, var(--mdx));
}


.bg{
	background-image: linear-gradient(180.95deg, rgba(63, 41, 111, 0) 0.81%, #472A6F 50.05%);
}

h1{
	@include media-breakpoint-down(lg){
		font-size: 28px;
		font-weight: normal;
	}
}

.text-gr,
.gr-text{
	background: linear-gradient(90deg, #0066CB 0.57%, #CB183B 100.57%); 
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.btn-outline-primary,
.btn-primary{
	position: relative;
	z-index: 2;
	&::before{
		z-index: -1;
		content: '';
		border-radius: inherit;
		background: linear-gradient(90deg, #0066CB 0.57%, #CB183B 100.57%); 
		position: absolute;
		left: -1px;
		top: -1px;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		@include mt;
		opacity: var(--op, 0);
		
	}
	&:hover{
		--op:1;
		color: #fff;
	}
}
.btn-outline-primary{
	color: #000;
	// border: none;
	&::after{
		content: '';
		@include a-cent;
		border-radius: inherit;
		background-color: #fff;
		z-index: -1;
		@include mt;
		opacity: var(--op2, 1);
	}
	--op:1;
	&:hover{
		--op2:0;
	}
}

main{
	background-color: #fff;
	z-index: 20;
	position: relative;
	display: block;
}

.main-block{
	background: #FFFFFF;
	box-shadow: 0px -48px 44px -64px rgba(37, 119, 145, 0.25), 0px 0px 40px rgba(62, 137, 191, 0.16);
	border-radius: 20px;
	padding-top: 29px;
	padding-bottom: 32px;
	z-index: 10;
	position: relative;
	--cx: var(--smx);

	
	margin-top: var(	--mt);
	margin-bottom: var(--mb);
	.main-title{
		text-align: center;
		h2{
			color: $primary;
		}
	}
	&--faq {
	}
	ul {
		li {
			padding-left: rem(25);
			position: relative;
			&:before {
				position: absolute;
				left: 0;
				top: 2px;
			}
		}
	}
}

.faq-page{
	.main-block{
		max-width: rem(824);
		position: relative;
		z-index: 11;

	}
	.headerBlock {
		background-color: #242e7f;
	}

}

.main-wrapper{
	background-color: #242e7f;
	padding-top: var(--hh);
	padding-bottom: var(--fh);
	&::before{
		content: '';
		width: 200vw;
		left: -50vw;
		top: calc(var(--hh));
		height: calc(100% - var(--hh) - var(--fh) );
		background-color: #fff;
		z-index: 4;
		position: absolute;
	}
}

.headerBlock{
	top: 0;
}
.footer{
	bottom: 0;
}
.headerBlock,
.footer{
	position: fixed !important;
	width: 100%;
	left: 0;
}


.show-footer{

	.headerBlock{
		// opacity: 0.2;
		// @include mt;
	} 
}

@include media-breakpoint-up(lg){

	.inner-sp-x{
		padding-left: rem(16);
		padding-right: rem(16);
	}
}

.main-title{
	padding-top: 18px;
	@extend .mb-40;
}

h5{
	line-height: calc(24 / 18);
}
.p-32{
	@include media-breakpoint-up(sm) {
		padding: 32px;
	}
	padding: 16px;

}
.mb-32{
	@include media-breakpoint-up(sm) {
		margin-bottom: 32px;
	}
	margin-bottom: 16px;
}
.mb-40{
	@include media-breakpoint-up(sm) {
		margin-bottom: rem(40px);
	}
	margin-bottom: 24px;
}


.border-block{
	position: relative;
	&::before,
	&::after{
		content: '';
		pointer-events: none;
			position: absolute;
			border-radius: var(--rad);
			@include media-breakpoint-down(sm){
				--rad: 18px;
			}
			@include media-breakpoint-up(sm){
				width: 100%;
			}
			width: calc(100% + 8px );
			@include media-breakpoint-up(sm) {
				
				height: calc(100% - #{rem(21)});
			}
			height: 100%;
			
			
		}
		// z-index: -1;
		&::before{
			border: 1px solid $primary;
			top: 0;
			
			@include media-breakpoint-up(sm){
			left: rem(-13px);
		}
		left: -10px;
		}
		&::after{
			border: 1px solid $primary2;
			@include media-breakpoint-up(sm){

				top: rem(23px);
				left: rem(11);
			}
			top: -2px;
			// bottom: 3px;
			left: 2px;
		}
}

.img-banner{
	@include media-breakpoint-down(sm){
		--rad: 18px;
	}
	position: relative;
	@include media-breakpoint-up(sm){

		padding-top: rem(17);
		padding-bottom: rem(13);
	}
	padding-top: 7px;
	padding-bottom: 7px;
	@extend .mb-40;
	img{
		@extend .res-i;
	}
	// z-index: ;
	.bg{
		border-radius: var(--rad);
	}
}

.custom-list{
	p {
		font-size: rem(18);
		margin-bottom: rem(16);
		@include media-breakpoint-up(lg) {
			font-size: rem(20);
			margin-bottom: rem(27);
		}
	}
	h4 {
		font-size: rem(16);
		@include media-breakpoint-up(lg) {
			font-size: rem(18);
		}
	}
	ul {
		margin-bottom: rem(40);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(46);
		}
	}
	li{
		margin-bottom: rem(16);
		position: relative;
		list-style: none;
		@include media-breakpoint-up(lg){

			padding-left: rem(34);
		}
		&::before{
			content: var(--icon, url(../img/svg/dot.svg));
			@include media-breakpoint-up(lg){

				position: absolute;
				left: 0;
				top: 0;
			}
			display: inline-block;
			margin-right: rem(5);
		}
	}	
	&--stethoscope{
		--icon: url("../img/svg/stethoscope.svg")
	}
	&--tablet{
		--icon: url("../img/svg/tablet.svg")
	}
}

.blog-icons{
	position: absolute;
	@include a-cent1(y);
	@include media-breakpoint-up(sm) {
		left: 8%;
	}
	left: 14px;
	&__item{
		@include media-breakpoint-up(sm) {
			padding-top: 25%;
			padding-bottom: 25%;
		}
		padding-top: 10%;
		padding-bottom: 10%;
		}
		&__img-wrap{
			@include media-breakpoint-up(xl) {
				--size: #{rem(104)};
			}
			@include media-breakpoint-up(sm) {
				--size: #{rem(84)};
			}
			--size: #{rem(50)};
		width: var(	--size);
		height: var(	--size);
		border-radius: 50%;
		border: 1px solid #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		img,
		svg{
			max-width: 80% !important;
			[fill="rgb(242,185,201)"]{
				fill: #fff !important;
			}
		}

	}
}

.btns-block{
	@include roww(16px,m);
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 22px;
	@include media-breakpoint-down(sm) {
		flex-direction: column;
	}
	&__btn{
		margin-bottom: 10px;
		justify-content: space-between;
		@extend .btn, .btn-outline-primary;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 18px;
		border-radius: 8px;
		flex-grow: 1;
		@include media-breakpoint-up(lg) {
			font-size: 20px;
		}
		&::after{
			border-radius: 6px;
		}
		.icon{
			font-size: 16px;
			@include media-breakpoint-up(lg) {
				font-size: 24px;
			}
		}

	}
}

.mw-none{
	max-width: none !important;
}

.column-2  { 
	h6{
		margin-bottom: rem(24);
	}
	@include media-breakpoint-up(md) {
 ul{
	 columns: 2;
	}
	li{
		max-width: 330px;
	}
}
}

.circle-block{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	@include media-breakpoint-up(md){
		width: rem(180);
		height: rem(180);
		font-size: rem(36);
		
	}
	font-size: 20px;
	width: rem(96);
	height: rem(96);
	z-index: 2;
	position: relative;
	&::before{
		content: '';
		position: absolute;
		left: 0;
		top: -5%;
		width: 110%;
		height: 110%;
		left:-2%;
		background-image: url(../img/circle-bg.png);
		background-size: contain;
		background-repeat: no-repeat;
		z-index: -1;
		// background-position: 10% center;

	}
	img{
		flex:  0 0 auto;
		max-width: 50%;
	} 
	color: #fff;
}

.line-group{
	@include media-breakpoint-down(md) {
		img{

			max-width: 168px;
		}
	}
}

.stat-block{
	background: linear-gradient(90deg, #137EE7 0.57%, #C2418F 50.05%, #EF1A4D 100.57%);
	border-radius: 8px;
	@include media-breakpoint-up(md){

		padding: rem(32px);
	}
	padding: 16px;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	& > * {
		opacity: 0.8;
	}
	.mb-3 {
		opacity: 1;
	}
	.icon{
		opacity: 0.4;
		font-size: rem(32);
		&-favorite{
			opacity: 1;
		}

	}
	p{
		margin-left: auto;
		margin-right: auto;
		max-width: 842px;
	}
}

.faq-page {
	.main-wrapper {
		&:before {
			background-color: #242E7F;
		}
		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 83px;
			background-image: linear-gradient(180deg, #242E7F 27.71%, rgba(36, 47, 127, 0) 100%);
			bottom: calc(var(--fh) - 72px);
			left: 0;
			z-index: 10;
		}
	}
}

.dd-group {
	p {
		margin-bottom: 0;
	}
}

.faq-wrap {
	padding-top: rem(3);
	@include media-breakpoint-up(md) {
		padding-bottom: rem(24);
	}
	.tabs {
		&__caption {
			display: flex;
			border-radius: 8px;
			border: 1px solid $primary;
			overflow: hidden;
		}
		&__btn {
			@include mt;
			text-align: center;
			font-weight: 700;
			color: $primary;
			padding: rem(6.5) rem(10);
			width: 50%;
			&.active, &:hover {
				background-color: $primary;
				color: $white;
			}
		}
	}
}
.dd-group {
	&__item {
		padding: rem(12) rem(16);
		position: relative;
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(90deg,#0066cb .57%,#cb183b 100.57%);
			top: 0;
			left: 0;
			z-index: -1;
			border-radius: 8px;
		}
		&:after {
			content: '';
			position: absolute;
			display: block;
			width: calc(100% - 2px);
			height: calc(100% - 2px);
			left: 1px;
			top: 1px;
			z-index: -1;
			background-color: $white;
			border-radius: 6px;
		}
		&.active {
			.dd-group__head {
				&:after {
					transform: translateY(-50%) rotate(0);
				}
			}
		}
	}
	&__head {
		font-weight: 700;
		padding-bottom: rem(2);
		position: relative;
		z-index: 2;
		cursor: pointer;
		&:after, &:before {
			@include mt;
			position: absolute;
			content: '';
			display: block;
			width: rem(12);
			height: 1px;
			right: rem(6);
			top: 50%;
			background-image: linear-gradient(90deg,#0066cb .57%,#cb183b 100.57%);
		}
		&:after {
			transform: translateY(-50%) rotate(-90deg);
		}
		p {
			padding-right: rem(20);
			// @include media-breakpoint-down(lg) {
			// 	max-width: rem(650);
			// }
			// @include media-breakpoint-down(md) {
			// 	max-width: rem(450);
			// }
			// @include media-breakpoint-down(sm) {
			// 	max-width: rem(246);
			// }
		}
	}
	&__content {
		padding-top: rem(8);
		position: relative;
		margin-top: rem(12);
		display: none;
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 1px;
			background-image: linear-gradient(90deg,#0066cb .57%,#cb183b 100.57%);
			top: 0;
			left: 0;
		}
		p {
			margin-bottom: 0;
		}
		&.active {
			display: block;
		}
	}
}

.news-btns {
	text-align: center;
	margin-bottom: rem(31);
	padding-top: rem(3);
	@include media-breakpoint-up(md) {
		padding-top: rem(12);
	}
	&__btn {
		color: $primary2;
		font-weight: 700;
		line-height: 1.33em;
		border-bottom: 2px solid transparent;
		padding-left: rem(3);
		padding-right: rem(3);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(39);
		}
		&:not(:last-child) {
			margin-right: rem(34);
		}
		&.active, &:hover {
			color: $primary2;
			border-bottom-color: $primary;
		}
	}
}
.news-wrap {
	&__row {
		--bs-gutter-y: #{rem(17)};
		@include media-breakpoint-up(lg) {
			--bs-gutter-y: #{rem(24)};
		}
	}
	&__news-item {
		border-radius: 8px;
		color: $primary2;
		overflow: hidden;
		display: block;
		border: 1px solid rgba(30, 118, 226, 0.5);
		height: 100%;
		@include mt;
		// @include media-breakpoint-up(lg) {
		// }
		display: flex;
		flex-direction: column;
		&:hover {
			color: $primary2;
			box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
		}
	}
	&__img-wrap  {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(0deg, rgba(30, 118, 226, 0.04), rgba(30, 118, 226, 0.04));
			border-radius: 9px 9px 0px 0px;
			z-index: 2;
			top: 0;
			left: 0;
		}
	}
	&__content {
		padding: rem(8) rem(13);
		display: flex;
		flex-direction: column;
		height: 100%;
		h4 {
			flex-grow: 1;
			span {
				color: $primary;
				font-size: rem(16);
			}
		}
	}
	&__show-more {
		font-size: rem(14);
		opacity: 0.6;
		.icon {
			font-size: rem(10);
			// margin-left: rem();
		}
	}
	&--js {
		position: relative;
		padding-bottom: rem(16);
		@include media-breakpoint-down(md) {
			padding-bottom: rem(24);
		}
		@include media-breakpoint-up(sm) {
			&:before, &:after {
				content: '';
				height: 100%;
				width: 16px;
				background-color: #fff;
				position: absolute;
				display: block;
				top: 0;
				z-index: 31;
			}
			&:before {
				left: 100%;
			}
			&:after {
				right: 100%;
			}
		}
		@include media-breakpoint-up(sm) {
			// overflow: hidden;
		}
		.news-wrap__news-item {
			height: auto;
		}
		.swiper-button-hand {
			color: rgba(30, 118, 226, 0.5);
			border-color: rgba(30, 118, 226, 0.5);
			width: 32px;
			height: 32px;
			--swiperArrowPosition: #{rem(15)};
			@include media-breakpoint-up(lg) {
				--swiperArrowPosition: #{rem(-15)};
			}
			@include media-breakpoint-down(md) {
				display: none;
			}
			.icon {
				font-size: rem(24);
			}
		}
		.swiper-pagination {
			display: none;
			@include media-breakpoint-down(md) {
				bottom: rem(-8);
				display: block;
			}
		}
	}
}
.slider-wrap {
	@include media-breakpoint-up(sm) {
		overflow: hidden;
	}
}
.btn-link {
	@include mt;
	display: block;
	width: 100%;
	max-width: rem(280);
	font-weight: 700;
	text-align: center;
	padding: rem(11);
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(90deg, #137EE7 0.57%, #C2418F 50.05%, #EF1A4D 100.57%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	position: relative;
	border-radius: 184px;
	&:before, &:after {
		content: '';
		position: absolute;
		display: block;
		border-radius: 184px;
	}
	&:before {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(90deg, #137EE7 0.57%, #C2418F 50.05%, #EF1A4D 100.57%);
		z-index: -2;
	}
	&:after {
		top: 1px;
		left: 1px;
		background-color: #fff;
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		z-index: -1;
	}
	&:hover {
		box-shadow: 3px 9px 20px 0px #342f2f24;
	}
}

.text {
	p {
		margin-bottom: 0;
		font-size: rem(14);
		line-height: 1.29em;
		color: #999EAB;
		padding-left: rem(10);
		position: relative;
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
		span {
			position: absolute;
			left: 0;
			top: 0;
			color: $primary;
			font-size: rem(16);
			line-height: 1.50em;
		}
	}
}

.custom-list--atricle {
	ul {
		@include media-breakpoint-up(md) {
			margin-left: rem(41);
		}
		li {
			padding-left: 1.8888888889rem;
			&::before {
				left: 0;
				position: absolute;
				top: 0;
			}
		}
	}
}

.table {
	min-width: rem(816);
	width: 100%;
	th {
		color: $primary;
		font-size: rem(14);
		font-weight: 700;
		margin-bottom: rme(6);
	}
	tr {
		border-bottom: 1px solid #E3E7EC;
		&:hover {
			td {
				background-color: rgba(#E3E7EC, .5);
			}
		}
	}
	td {
		@include mt;
		padding: rem(12) 0;
		line-height: 1.33em;
		color: $black;
	}
}

.extra-indent {
	max-width: rem(816);
	margin-left: auto;
	margin-right: auto;
	h6 {
		margin-bottom: rem(32);
	}
}

.table-wrap {
	overflow-x: auto;
	position: relative;
}

.cite {
	position: relative;
	padding-left: rem(32);
	@include media-breakpoint-up(md) {
		padding-left: rem(48);
	}
	&::before {
		content: '';
		position: absolute;
		display: block;
		background-image: url('../img/svg/cite.svg');
		width: 24px;
		height: 24px;
		background-repeat: no-repeat;
		left: 0;
		top: 0;
		background-size: contain;
		@include media-breakpoint-up(md) {
			width: 40px;
			height: 40px;
		}
	}
	p {
		margin-bottom: 0;
		font-size: rem(20);
	}
}

.numbered-list {
	list-style-type: none;
	counter-reset: num;
	padding-left: 0;
	& > li {
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
		&:before {
			content: "1." counter(num) ".";
			counter-increment: num;
			margin-right: rem(16);
		}
	}
	ol {
		counter-reset: num2;
		list-style-type: none;
		li {
			padding-top: rem(8);
			&:before {
				content: counter(num2) ".";
				counter-increment: num2;
				margin-right: rem(13);
			}
		}
	}
}

.mediaContent {
	max-width: rem(816);
	margin-left: auto;
	margin-right: auto;
	position: relative;
	&__slider {
		overflow: hidden;
		border-radius: 8px;
		position: relative;
		@include media-breakpoint-up(md) {
			border-radius: 20px;
		}
	}
	.swiper-button-hand {
		--swiperArrowPosition: #{rem(16)};
		width: 32px;
		height: 32px;
		border: none;
		.icon {
			font-size: rem(24);
		}
	}
	p {
		padding-top: rem(7);
		margin-bottom: 0;
		color: #999EAB;
		font-size: rem(14);
	}
	&__video {
		@include block(816, 416);
		border-radius: 8px;
		overflow: hidden;
		@include media-breakpoint-up(md) {
			border-radius: 40px;
			margin-bottom: rem(16);
		}
		@include media-breakpoint-down(md) {
			--ratio: 184.5/328;
		}
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.desc {
	&:first-child {
		@include media-breakpoint-up(md) {
			padding-top: rem(11);
		}
	}
	&:not(:last-child) {
		margin-bottom: rem(15);
	}
	p {
		display: contents;
		margin-bottom: 0;
	}
}

.gradient-btn {
	@include mt;
	background-image: linear-gradient(90deg, #137EE7 0.57%, #C2418F 50.05%, #EF1A4D 100.57%);
	border-radius: 52px;
	display: block;
	width: 100%;
	text-align: center;
	color: $white;
	font-size: rem(16);
	padding: rem(12) rem(10);
	&:hover {
		color: $white;
		box-shadow: -2px -3px 12px 2px #1e1c1c38;
	}
	@include media-breakpoint-down(sm) {
		max-width: rem(242);
		margin-left: auto;
		margin-right: auto;
	}
}

.marketplace {
	margin-bottom: rem(40);
	@include media-breakpoint-up(md) {
		margin-bottom: rem(54);
	}
	h2 {
		margin-bottom: rem(24);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(48);
		}
	}
	&__row {
		max-width: rem(800);
		margin-left: auto;
		margin-right: auto;
		--bs-gutter-x: #{rem(24)};
		--bs-gutter-y: #{rem(24)};
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(16)};
			--bs-gutter-y: #{rem(16)};
		}
	}
	&__item {
		padding: rem(30) rem(18);
		border: 1px solid rgba(30, 118, 226, 0.5);
		border-radius: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
    text-align: center;
		height: 100%;
		img {
			width: 100%;
		}
		&:hover {
			box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
		}
	}
}

.map {
	p {
		padding-top: rem(8);
		font-weight: 700;
		font-size: rem(16);
		text-align: center;
		margin-bottom: rem(16);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(32);
		}
		img {
			width: 91px;
			margin-left: rem(8);
		}
	}
	&__wrap {
		@include block(1056,636);
		border-radius: 20px;
		background-color: $gray-100;
		@include media-breakpoint-down(sm) {
			--ratio: 450/342;
		}
		@include media-breakpoint-up(lg) {
			margin: 0 -16px;
		}
		#map {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}

.page404 {
	width: 100%;
	height: 100vh;
	position: relative;
	[data-json] {
		position: absolute;
    z-index: -1;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
	&__text {
		position: absolute;
		top: 32px;
		left: 50%;
		transform: translateX(-50%);
		color: $white;
		font-weight: 700;
	}
	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 100vw;
		height: 100vh;
		background-image: linear-gradient(194.97deg, rgba(226, 0, 41, 0) 10.52%, rgba(201, 0, 60, 0.9) 66.33%);
	}
	&__wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		flex-direction: column;
		z-index: 2;
		height: 100%;
		color: $white;
		padding-top: rem(80);
		padding-bottom: rem(80);
		
		a {
			width: 100%;
			max-width: rem(296);
			margin-left: auto;
			margin-right: auto;
			padding: rem(9.5) rem(10);
			span {
				background: linear-gradient(90deg, #0066CB 0.57%, #CB183B 100.57%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}
	}
	&__title {
		// @include rfs(216px);
		font-size: rem(155);
		font-weight: 700;
		line-height: 1em;
		@include media-breakpoint-up(lg) {
			font-size: rem(216);
		}
	}
	&__content {
		max-width: rem(518);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: rem(24);
		text-align: center;
	}
}

.wrongPage {
	.main-wrapper {
		padding-bottom: 0;
		padding-top: 0;
		&::before {
			content: unset;
		}
	}
}


.page-not-fixed-footer{
	.main-wrapper{
		padding-bottom: 0;
	}
	.footer{
		position: relative !important;
		opacity: 1 !important; 
    visibility: visible !important;
    z-index: 2 !important;
	}
}

h2 {
	@include media-breakpoint-down(sm) {
		font-weight: 400;
	}
}