mixin sCategories(data)
	// start sCategories
	+b.sCategories#sCategories&attributes(attributes) 
		+b.section-title.text-center.d-sm-none
			h2 Предназначен для профилактики  и&nbsp;длительного применения
			
		+e.slider--js.swiper
			.swiper-wrapper

				mixin item(t, j)
					+e.slide.swiper-slide
						+b.categories-item(href="#")
							+e.caption
								+e.title!= t
								+e.link Подробнее
									+icon("chevron-right")
							+e.img-wrap(data-json= j)
				+item(`Инсульт`,'json/insult.json')
				 
				+item(`Неврологические нарушения`,'json/nerv.json')
					 
				+item(`Инфаркт `,'json/infarkt.json')
				 
				+item(`Заболевания сердца`,'json/heart.json')
				 
		.row.d-sm-none
			.col
				+e.text Есть&nbsp;ли у&nbsp;вас факторы риска развития сердечно сосудистых заболеваний
			.col-auto
				+e.link(href="#")
					img(src="img/svg/doc-success.svg", alt="")
					| Пройти тест
	// end sCategories