mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section.bg-wrap#headerBlock&attributes(attributes)
		+img('img/bg.jpg','bg').picture-bg
		div(data-json="json/circles/data.json").d-none.d-md-block
		div(data-json="json/circles_mobile/data.json").d-md-none
		.container
			if block
				block
			else
				.row.gx-0
					.col-lg
						h1 Тромбо АСС® снижает риск возникновения тромбов
						+e.btn(href="#") О Тромбо АСС®
					.col-lg-auto
						picture 
							source(media="(min-width:992px )", srcset="img/head-img.png")
							img(src="img/head-img-mob.png", alt="")
							
	// end headerBlock