mixin sAbout(data)
	// start sAbout
	+b.sAbout.section#sAbout&attributes(attributes)
		+e.inner
			+e.row.row
				+e.col.col-lg-6(data-aos="fade-up" data-aos-duration="1800")
					h5  Ацетилсалициловая кислота является действующим веществом препарата Тромбо<sup class="reg">&reg;</sup> АСС
					p Тромбо<sup class="reg">&reg;</sup> АСС ингибирует действие фермента ЦОГ&nbsp;1, поэтому не&nbsp;образуется тромбоксан&nbsp;А2, который начинает процесс образования тромба. Благодаря тому, что тромбоксан А2&nbsp;не попадает в&nbsp;кровь, тромбоциты не&nbsp;активируются и&nbsp;не&nbsp;склеиваются, поэтому тромб не&nbsp;образуется
				+e.col.col-lg-6(data-aos="fade-up" data-aos-duration="2400")
					h5  Тромбо<sup class="reg">&reg;</sup> АСС&nbsp;&mdash; препарат ацетилсалициловой кислоты в&nbsp;кишечнорастворимых таблетках
					p для профилактики повторных сердечно-сосудистых катастроф (инфаркта миокарда, инсульта) и&nbsp;лечения стенокардии (формы ишемической болезни сердца)
		+e.banner.bg-wrap(data-aos="fade-up" data-aos-duration="2000")
			+e.inner
				+img('img/banner-bg.jpg').picture-bg
				//- h5 Препарат Тромбо<sup class="reg">&reg;</sup> АСС выпускается в&nbsp;дозировках 50&nbsp;и&nbsp;100&nbsp;мг, которые подходят для длительного применения, производится в&nbsp;Австрии, имеет доступную цену при высоком качестве
				+e.wrap
					h5 Тромбо<sup class="reg">&reg;</sup> АСС это
					ul
						li Удобно&mdash; выпускается в&nbsp;специяльных кардиологических дозировках 50&nbsp;и&nbsp;100&nbsp;мг
						li Подходит для длительного приема
						li Надежно&mdash; производится в&nbsp;Австрии
						li Доступно&mdash; имеет демократичную цену
				.d-none.d-md-block
					+img('img/banner-img.png')
	// end sAbout