extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
//- include ../blocks/sContent/_sContent.pug
 
//- include ../blocks/sContact/_sContact.pug
include ../blocks/sSteps/_sSteps.pug
//- include ../blocks/sAdvanteges/_sAdvanteges.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sFor/_sFor.pug
include ../blocks/sLit/_sLit.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'faq-page page-not-fixed-footer'
	- let  bg= 'main.jpg'

block title
	- let  title= 'Вопросы и ответы'
	title= title
block pagecontent
	+mob-mnu() 
	+top-nav()
	+headerBlock.bg
		.text-center
			h1= title
	main.main-block.container
		.inner-sp-x
			+b.faq-wrap.tabs(data-aos="fade-up" data-aos-duration="1000")
				.tabs__caption.mb-4
					.tabs__btn.active Общие
					.tabs__btn О Тромбо АСС®
				.tabs__content.active
					+ddGroup
						+ddGroupItem('Вы молодец! Так держать! Продолжайте также следить за своим здоровьем!', 'active')
							p Тестирование Вы&nbsp;можете пройти в&nbsp;разделе &laquo;Тестирование&raquo;, кликнув на&nbsp;блок МЕНЮ в&nbsp;верхнем левом углу. После чего откроется тест, где вам нужно внести все необходимые данные и&nbsp;заполнить поля. Обращаем ваше внимание, что для получения более точных данных мы&nbsp;рекомендуем обратиться к&nbsp;врачу.
						+ddGroupItem('Чем отличаются разные препараты ацетилсалициловой кислоты?')
							p Тестирование Вы&nbsp;можете пройти в&nbsp;разделе &laquo;Тестирование&raquo;, кликнув на&nbsp;блок МЕНЮ в&nbsp;верхнем левом углу. После чего откроется тест, где вам нужно внести все необходимые данные и&nbsp;заполнить поля. Обращаем ваше внимание, что для получения более точных данных мы&nbsp;рекомендуем обратиться к&nbsp;врачу.
						+ddGroupItem('Когда лучше принимать препарат: утром или вечером, до или после еды?')
							p Тестирование Вы&nbsp;можете пройти в&nbsp;разделе &laquo;Тестирование&raquo;, кликнув на&nbsp;блок МЕНЮ в&nbsp;верхнем левом углу. После чего откроется тест, где вам нужно внести все необходимые данные и&nbsp;заполнить поля. Обращаем ваше внимание, что для получения более точных данных мы&nbsp;рекомендуем обратиться к&nbsp;врачу.
						+ddGroupItem('Каковы риски язвы желудка?')
							p Тестирование Вы&nbsp;можете пройти в&nbsp;разделе &laquo;Тестирование&raquo;, кликнув на&nbsp;блок МЕНЮ в&nbsp;верхнем левом углу. После чего откроется тест, где вам нужно внести все необходимые данные и&nbsp;заполнить поля. Обращаем ваше внимание, что для получения более точных данных мы&nbsp;рекомендуем обратиться к&nbsp;врачу.
						+ddGroupItem('Как долго принимать препарат? («Всю ли оставшуюся жизнь его принимать?»)')
							p Тестирование Вы&nbsp;можете пройти в&nbsp;разделе &laquo;Тестирование&raquo;, кликнув на&nbsp;блок МЕНЮ в&nbsp;верхнем левом углу. После чего откроется тест, где вам нужно внести все необходимые данные и&nbsp;заполнить поля. Обращаем ваше внимание, что для получения более точных данных мы&nbsp;рекомендуем обратиться к&nbsp;врачу.
						+ddGroupItem('Если удалять зуб на фоне приема препарата, не будет ли усиленное кровотечение из десны?')
							p Тестирование Вы&nbsp;можете пройти в&nbsp;разделе &laquo;Тестирование&raquo;, кликнув на&nbsp;блок МЕНЮ в&nbsp;верхнем левом углу. После чего откроется тест, где вам нужно внести все необходимые данные и&nbsp;заполнить поля. Обращаем ваше внимание, что для получения более точных данных мы&nbsp;рекомендуем обратиться к&nbsp;врачу.
						+ddGroupItem('Не увеличится ли «кровоточивость» на фоне приема препарата?')
							p Тестирование Вы&nbsp;можете пройти в&nbsp;разделе &laquo;Тестирование&raquo;, кликнув на&nbsp;блок МЕНЮ в&nbsp;верхнем левом углу. После чего откроется тест, где вам нужно внести все необходимые данные и&nbsp;заполнить поля. Обращаем ваше внимание, что для получения более точных данных мы&nbsp;рекомендуем обратиться к&nbsp;врачу.
				.tabs__content
					+ddGroup
						+ddGroupItem('Каковы риски язвы желудка?')
							p Тестирование Вы&nbsp;можете пройти в&nbsp;разделе &laquo;Тестирование&raquo;, кликнув на&nbsp;блок МЕНЮ в&nbsp;верхнем левом углу. После чего откроется тест, где вам нужно внести все необходимые данные и&nbsp;заполнить поля. Обращаем ваше внимание, что для получения более точных данных мы&nbsp;рекомендуем обратиться к&nbsp;врачу.
						+ddGroupItem('Как долго принимать препарат? («Всю ли оставшуюся жизнь его принимать?»)')
							p Тестирование Вы&nbsp;можете пройти в&nbsp;разделе &laquo;Тестирование&raquo;, кликнув на&nbsp;блок МЕНЮ в&nbsp;верхнем левом углу. После чего откроется тест, где вам нужно внести все необходимые данные и&nbsp;заполнить поля. Обращаем ваше внимание, что для получения более точных данных мы&nbsp;рекомендуем обратиться к&nbsp;врачу.
						+ddGroupItem('Если удалять зуб на фоне приема препарата, не будет ли усиленное кровотечение из десны?')
							p Тестирование Вы&nbsp;можете пройти в&nbsp;разделе &laquo;Тестирование&raquo;, кликнув на&nbsp;блок МЕНЮ в&nbsp;верхнем левом углу. После чего откроется тест, где вам нужно внести все необходимые данные и&nbsp;заполнить поля. Обращаем ваше внимание, что для получения более точных данных мы&nbsp;рекомендуем обратиться к&nbsp;врачу.
						+ddGroupItem('Не увеличится ли «кровоточивость» на фоне приема препарата?')
							p Тестирование Вы&nbsp;можете пройти в&nbsp;разделе &laquo;Тестирование&raquo;, кликнув на&nbsp;блок МЕНЮ в&nbsp;верхнем левом углу. После чего откроется тест, где вам нужно внести все необходимые данные и&nbsp;заполнить поля. Обращаем ваше внимание, что для получения более точных данных мы&nbsp;рекомендуем обратиться к&nbsp;врачу.
						+ddGroupItem('Вы молодец! Так держать! Продолжайте также следить за своим здоровьем!', 'active')
							p Тестирование Вы&nbsp;можете пройти в&nbsp;разделе &laquo;Тестирование&raquo;, кликнув на&nbsp;блок МЕНЮ в&nbsp;верхнем левом углу. После чего откроется тест, где вам нужно внести все необходимые данные и&nbsp;заполнить поля. Обращаем ваше внимание, что для получения более точных данных мы&nbsp;рекомендуем обратиться к&nbsp;врачу.
						+ddGroupItem('Чем отличаются разные препараты ацетилсалициловой кислоты?')
							p Тестирование Вы&nbsp;можете пройти в&nbsp;разделе &laquo;Тестирование&raquo;, кликнув на&nbsp;блок МЕНЮ в&nbsp;верхнем левом углу. После чего откроется тест, где вам нужно внести все необходимые данные и&nbsp;заполнить поля. Обращаем ваше внимание, что для получения более точных данных мы&nbsp;рекомендуем обратиться к&nbsp;врачу.
	+footer.bg
      



