mixin sSteps(data)
	// start sSteps
	+b.sSteps.section#sSteps&attributes(attributes)
		mixin btn(t)
			.tabs__btn&attributes(attributes)
				span= t
				svg(width='80' height='70' viewBox='0 0 80 70' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M78.4283 38.6532C74.0438 38.6532 68.9016 38.4799 65.2748 33.3786C61.8134 28.5098 59.9778 25.0526 57.6597 22.8295C55.1213 20.3951 50.9676 18.434 49.583 17.7578' stroke='#2344B7' stroke-width='1.24989')
					path(d='M78.9539 37.7849C78.8101 37.7849 76.7976 37.7849 75.36 37.7849C72.1255 37.7849 71.299 38.8857 70.1489 42.4421C68.7114 46.8876 66.7348 53.8735 64.0394 44.3473C61.344 34.8212 62.0987 28.6421 58.8283 24.0009C55.5578 19.3598 50.2749 17.0392 48.0107 16.1953' stroke='#D70A42' stroke-width='1.24989')
					path(opacity='0.37' d='M75.4424 38.2387L78.0078 38.4658C78.1366 38.466 78.201 38.746 78.2009 38.886C78.2008 39.166 78.0075 39.3057 78.0075 39.3057L75.4421 39.0786C68.0961 39.0672 63.5193 44.2394 59.0715 49.1318C54.4947 54.164 50.5814 59.1524 42.9777 59.1406C38.8465 59.1341 32.7676 58.0243 33.6283 58.0257C44.4997 58.0426 54.4305 53.464 58.9428 48.4317C63.3907 43.3993 68.032 38.2272 75.4424 38.2387Z' fill='url(#paint0_linear_2064_27712)')
					ellipse(rx='23.8963' ry='20.9103' transform='matrix(0.968055 0.250737 -0.252607 0.967569 39.0452 35.1223)' fill='#1E76E2')
					g(filter='url(#filter0_d_2064_27712)')
						ellipse(cx='39.0395' cy='34.9533' rx='22.0405' ry='21.9533' fill='#D70A42')
					path(d='M54.275 52.0512C46.2778 60.8036 31.0703 60.2368 20.2765 50.4448C9.48256 40.6529 7.49341 25.6194 15.4906 16.867C23.4878 8.11455 38.6953 8.68142 49.4892 18.4734C60.2831 28.2653 62.2722 43.2988 54.275 52.0512Z' stroke='#1E76E2' stroke-width='1.24989')
					path(d='M27.3976 58.4438C17.208 52.5841 14.5657 37.7659 21.8253 25.2416C29.085 12.7172 43.2901 7.58741 53.4797 13.4471C63.6694 19.3068 66.3117 34.125 59.052 46.6493C51.7924 59.1737 37.5873 64.3035 27.3976 58.4438Z' stroke='#D70A42' stroke-width='1.24989')
					//- path(d='M40.249 23.6006V45H36.719V27.7896L31.49 29.5619V26.6472L39.8242 23.6006H40.249Z' fill='white')
					ellipse(cx='78.0355' cy='37.3919' rx='1.96421' ry='1.95631' fill='#1E76E2')
					ellipse(cx='78.0353' cy='37.3893' rx='1.09093' ry='1.08654' fill='white')
					defs
						filter#filter0_d_2064_27712(x='13.2493' y='13' width='51.5805' height='51.4057' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
							feflood(flood-opacity='0' result='BackgroundImageFix')
							fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
							feoffset(dy='3.74971')
							fegaussianblur(stdDeviation='1.87486')
							fecomposite(in2='hardAlpha' operator='out')
							fecolormatrix(type='matrix' values='0 0 0 0 1 0 0 0 0 0 0 0 0 0 0.194805 0 0 0 0.2 0')
							feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_2064_27712')
							feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_2064_27712' result='shape')
						lineargradient#paint0_linear_2064_27712(x1='131.758' y1='48.9824' x2='42.0572' y2='48.9533' gradientUnits='userSpaceOnUse')
							stop(stop-color='#000673')
							stop(offset='0.3404' stop-color='#0044FF')
							stop(offset='0.3658' stop-color='#004DFF')
							stop(offset='0.5129' stop-color='#007AFF')
							stop(offset='0.654' stop-color='#009EFF')
							stop(offset='0.7859' stop-color='#00B7FF')
							stop(offset='0.905' stop-color='#00C7FF')
							stop(offset='1' stop-color='#00CCFF')
		.tabs
			.tabs__caption.d-none.d-md-flex(data-aos="fade-up" data-aos-duration="1000")


						
					
				+btn(1).active 
				+btn(2) 
				+btn(3) 
				+btn(4) 
				+btn(5) 
			.tabs__wrap
				mixin item(i)
					.tabs__content&attributes(attributes)
						+btn(i).d-md-none
						.row.align-items-center
							.col-md-6(data-aos="fade-up" data-aos-duration="1000") 
								+e.img-wrap
									+img(`img/step-img-${i}.svg`)
									//- if (i=="1" || i=="2" || i=="5")
									//- 	+block-icons()
							.col-md(data-aos="fade-up" data-aos-duration="1000")
								block
				+item(`1`).active
					p Это&nbsp;&mdash; кровеносный сосуд, по&nbsp;которому осуществляется перемещение крови по&nbsp;организму. Всё наше тело пронизано сетью кровеносных сосудов.  

					p Кровь, текущая по&nbsp;сосудам, состоит из&nbsp;жидкой среды&nbsp;&mdash; плазмы и&nbsp;форменных элементов&nbsp;&mdash; лейкоцитов, эритроцитов и&nbsp;тромбоцитов.

					p Все компоненты крови постоянно контактируют с&nbsp;тончайшим слоем клеток, выстилающих сосуд&nbsp;&mdash; интимой.
				+item(`2`)
					p В&nbsp;норме клетки интимы выделяют в&nbsp;кровь множество веществ, регулирующих тонус сосуда, текучесть крови и&nbsp;процессы воспаления.

					p При повреждении интимы, например, вследствие ранения, хирургического вмешательства, установки катетера, атеросклеротического поражения а&nbsp;также повышенного давления, курения или стресса, клетки начинают выделять в&nbsp;кровь вещества, запускающие процесс образования тромбов.
				+item(`3`)
					p Как происходит процесс тромбообразования?

					p Клетки интимы постоянно выделяют арахидоновую кислоту, которая при повреждении сосуда с&nbsp;помщью фермента циклооксигеназы&nbsp;1 (ЦОГ-1) стимулирует в&nbsp;тромбоцитах выработку тромбоксана А2. Это приводит к&nbsp;сужению сосудов, повышению артериального давления в&nbsp;сосуде и&nbsp;активирует агрегацию ( то&nbsp;есть &laquo;склеивание&raquo;) тромбоцитов.
				+item(`4`)
					p &laquo;Прилипание&raquo; тромбоцитов к&nbsp;поврежденной интиме сосуда и&nbsp;склеивание их&nbsp;между собой и&nbsp;начинают сложный процесс тромбообразования, состоящий из&nbsp;нескольких этапов. Под воздействием факторов свертывания образуется нерастворимый белок фибрин, нити которого &laquo;укрепляют&raquo; тромбоцитарную массу (1). Кстати, именно по&nbsp;появлению первых нитей фибрина и&nbsp;определяют время свертывания крови в&nbsp;лаборатории. В&nbsp;сети фибрина попадают другие тромбоциты и&nbsp;форменные элементы крови (2), затем от&nbsp;кровяного сгустка отделяется жидкая часть крови и&nbsp;образуется зрелый тромб (3). Именно он&nbsp;закрывает повреждение сосудистой стенки. 

					p Важно понимать, что тромбообразование- это нормальная защитная реакция организма. Именно за&nbsp;счет нее при порезах и&nbsp;других травмах кровотечение быстро останавливается- тромб закрывает дефект стенки сосуда.&nbsp;в&nbsp;дальнейшем клетки интимы восстанавливаются и&nbsp;закрывают брешь, а&nbsp;образованный тромб растворяется (лизируется).
				+item(`5`)
					p Но&nbsp;не&nbsp;все так однозначно, и&nbsp;когда процесс тромбообразования становится бесконтрольным ( при различных патологических процессах в&nbsp;организме- воспалении сосудистой стенки, атеросклерозе), это может привести к&nbsp;опаснейшим последствиям. Например, закупорка артерий сердца может вызвать инфаркт миокарда, а&nbsp;головного мозга- инсульт.

					p Что может помочь в&nbsp;таком случае? Ацетилсалициловая кислота.

	// end sSteps