mixin sAdvanteges(data)
	// start sAdvanteges
	+b.sAdvanteges.section#sAdvanteges&attributes(attributes)
		
			+b.section-title.text-center
				+b.animate-block.d-none.d-md-block(data-json='json/circle.json')
				+e.center-text

					h2 Тромбо АСС®
					+e.text Таблетки кишечнорастворимые, что позволяет уменьшить воздействие АСК на слизистую желудка
					+e.btn(href="#") Заказать Тромбо АСС®
				+e.text Регулярный прием небольших доз АСК:
				
			+e.center-block
				mixin item(p,per)
					+b.sAdvanteges-item
						+e.caption
							p!= p 
						+e.percent= per
				+item(`<span>Снижает риск</span> повторного инфаркта миокарда<sup>1</sup>`,`-30%`)
				+item(`<span>Уменьшает риск</span> ишемического инсульта<sup>1</sup>`,`-24%`) 
				+item(`<span>Позволяет уменьшить риск</span>  повторных сердечно-сосудистых событий<sup>2,3</sup>`,`-25%`)
				+item(`<span>Снижает риск</span> транзиторной ишемической атаки<sup>1</sup>`,`-22%`)
	// end sAdvanteges