mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	+b.menu-mobile--js
		+e.inner
			.container 
				mixin item(t, j) 
					+b.categories-item(href="#")&attributes(attributes) 
						+e.title!= t  
						+e.img-wrap(data-json= j)
				+item(`Ишемический инсульт`,'json/insult.json').active
				
				+item(`Неврологические нарушения`,'json/nerv.json')
					
				+item(`Инфаркт миокарда `,'json/infarkt.json')
				
				+item(`Заболевания сердца`,'json/heart.json')
				+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav
		.row
			.col.d-lg-none
				+menu-toggle()
			.col-lg.col-auto
				+e.logo(href="/") Тромбо АСС®
			.col-lg-auto.order-lg-0.order-last.d-none.d-lg-block
				+mnu()
			.col-auto
				+e.btn(href="#") Заказать
	// end top-nav