mixin sFor(data)
	// start sFor
	+b.SECTION.sFor.section#sFor&attributes(attributes)
		
		+e.video(data-aos="fade-up" data-aos-duration="1000")
			<iframe width="560" height="315" src="https://www.youtube.com/embed/h-m07NluXbY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe> 
		div(data-aos="fade-up" data-aos-duration="2000")
			h2() Тромбо® АСС применяется для
			ul
				li профилактики повторного инфаркта миокарда, повторного ишемического инсульта у&nbsp;пациентов, ранее перенесших нарушение мозгового кровообращения
				li лечения нестабильной и&nbsp;стабильной стенокардии
				li профилактики повторной транзиторной ишемической атаки (ТИА)
				li профилактики тромботических осложнений после операций и&nbsp;инвазивных вмешательств на&nbsp;сосудах (аортокоронарное шунтирование и&nbsp;др.)
	// end sFor