mixin sFor(data)
	// start sFor
	+b.SECTION.sFor.section#sFor&attributes(attributes)
		
		+e.video(data-aos="fade-up" data-aos-duration="1000")
			<iframe width="560" height="315" src="https://www.youtube.com/embed/h-m07NluXbY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe> 
		div(data-aos="fade-up" data-aos-duration="2000")
			h2() Тромбо® АСС применяется для
			ul
				li профилактики повторного инфаркта миокарда, повторного ишемического инсульта у&nbsp;пациентов, ранее перенесших нарушение мозгового кровообращения
				li лечения нестабильной и&nbsp;стабильной стенокардии
				li профилактики повторной транзиторной ишемической атаки (ТИА)
				li профилактики тромботических осложнений после операций и&nbsp;инвазивных вмешательств на&nbsp;сосудах (аортокоронарное шунтирование и&nbsp;др.)
	// end sFor
mixin sFor2(data)
	// start sFor
	+b.SECTION.sFor.section.custom-list--tablet#sFor&attributes(attributes)
		div(data-aos="fade-up" data-aos-duration="2000").mb-40
			h2 Тромбо® АСС применяется для
			ul
				li Профилактики повторного инфаркта миокарда, повторного ишемического инсульта у&nbsp;пациентов, ранее перенесших нарушение мозгового кровообращения
				li Лечения нестабильной и&nbsp;стабильной стенокардии
				li Профилактики повторной транзиторной ишемической атаки (ТИА)
				li Профилактики тромботических осложнений после операций и&nbsp;инвазивных вмешательств на&nbsp;сосудах (аортокоронарное шунтирование и&nbsp;др.)
		div(data-aos="fade-up" data-aos-duration="2000").mb-40
			h2 Отличие препарата Тромбо<sup class="reg">&reg;</sup> АСС от&nbsp;других препаратов ацетилсалициловой кислоты
			ul
				li Таблетки Тромбо АСС<sup class="reg">&reg;</sup> являются кишечнорастворимыми, что позволяет снизить воздействие ацетилсалициловой кислоты на&nbsp;слизистую желудка и&nbsp;уменьшить риск побочных эффектов
				li Препарат выпускается в&nbsp;дозировках 50&nbsp;и&nbsp;100&nbsp;мг, которые подходят для длительного применения
				li Тромбо АСС<sup class="reg">&reg;</sup> производится в&nbsp;Австрии, имеет доступную цену при высоком качестве производства
	// end sFor